In [1]:
# declare a variable
# variables are the containers used to store any  data types
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
# check the data type of the variable 
type(X)

int

In [4]:
# create an integer data type
int_1=20

# show the data type
print('data type of the variable ',type(int_1))

data type of the variable  <class 'int'>

In [5]:
# create an float data type
float_1=20.38

# show the data type
print('data type of the variable ',type(float_1))

data type of the variable  <class 'float'>

In [6]:
# create an string space data type
string_1='Gopal'

# show the data type
print('data type of the variable ',type(string_1))

data type of the variable  <class 'str'>

In [7]:
# create an list
list_1=[10,20,30,40]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Gopal','Nirmal','Nandhini','Pooja']

# show the data type
print('data type of the variable ',type(list_1))
print('data type of the variable ',type(list_2))
print('data type of the variable ',type(list_3))

data type of the variable  <class 'list'>
data type of the variable  <class 'list'>
data type of the variable  <class 'list'>

In [8]:
# create an tuple
tuple_1=(10,20,30,40)
tuple_2=(10.38,20.46,30.39,40.68)
tuple_3=('Gopal','Nirmal','Nandhini','Pooja')

# show the data type
print('data type of the variable ',type(tuple_1))
print('data type of the variable ',type(tuple_2))
print('data type of the variable ',type(tuple_3))

data type of the variable  <class 'tuple'>
data type of the variable  <class 'tuple'>
data type of the variable  <class 'tuple'>

In [9]:
# create an set
set_1={10,20,30,40}
set_2={10.38,20.46,30.39,40.68}
set_3={'Gopal','Nirmal','Nandhini','Pooja'}

# show the data type
print('data type of the variable ',type(set_1))
print('data type of the variable ',type(set_2))
print('data type of the variable ',type(set_3))

data type of the variable  <class 'set'>
data type of the variable  <class 'set'>
data type of the variable  <class 'set'>

In [10]:
# create an boolean data type
boolean_1=True
boolean_2=False

# show the data type
print('data type of the variable ',type(boolean_1))
print('data type of the variable ',type(boolean_2))

data type of the variable  <class 'bool'>
data type of the variable  <class 'bool'>

In [11]:
# create an dictionary
dictionary_1={'list_1':[10,20,30,40],
            'tuple_1':(10,20,30,40),
            'set_1':{10,20,30,40}}

#show the data type
print('data type of the variable ',type(dictionary_1))

data type of the variable  <class 'dict'>

# basic operations

In [13]:
# Task1:Type casting 
float_2=45.96

# show the data type
print('data type of the variable ',type(float_2))

# do the type casting
int_2=int(float_2)

# show the data type
print('data type of the variable ',type(int_2))

data type of the variable  <class 'float'>
data type of the variable  <class 'int'>

In [14]:
# Task1:Type casting(integer to float)
int_3=5

# show the data type
print('data type of the variable ',type(int_3))

# do the type casting
float_3=float(int_3)

# show the data type
print('data type of the variable ',type(float_3))

data type of the variable  <class 'int'>
data type of the variable  <class 'float'>

In [15]:
# Task2:use of round function
float_4=10.1234567890

# round this value till three decimal places
rounded_value=round(float_4,3)
# show the output
print('rounded value are:',rounded_value)

rounded value are: 10.123

# Arithmetic operations on a data

In [17]:
# Addition operation
# declare the variable
a=10
b=20

# perform the sum
sum_1=a+b

#show the output
print('Addition of two variables:',sum_1)

Addition of two variables: 30

In [18]:
# Subtraction operation
# declare the variable
a=20
b=10

# perform the sum
sub_1=a-b

#show the output
print('Subtraction of two variables:',sub_1)

Subtraction of two variables: 10

In [19]:
# Multiplication operation
# declare the variable
a=20
b=10

# perform the sum
mul_1=a*b

#show the output
print('Multiplication of two variables:',mul_1)

Multiplication of two variables: 200

In [20]:
# Division operation
# declare the variable
a=20
b=10

# perform the sum
div_1=a/b

#show the output
print('Division of two variables:',div_1)

Division of two variables: 2.0

# User defined functions

In [22]:
# declare the function named as 'summation' ,who can perform the addition in two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation

# call the function
summation()

30

In [23]:
# dclare the function named as'Subtraction',
# who can perform this subtraction between two variables
def subtraction(x,y):
    subtraction=x-y
    return subtraction

#call the function
subtraction(10,20)

-10

In [24]:
# dclare the function named as'Multiplication',
# who can perform this multiplication between two variables
# This time you need to take the input from the user   

# Take the input from the user
var_2=int(input('Give the first number:'))
var_3=int(input('Give the second number:'))

#Make the user defined function
def multiplication(var_2,var_3):
    mul=var_2*var_3
    return mul
# call the function
multiplication(var_2,var_3)

Give the first number: 10
Give the second number: 30

300